# Directories
__pycache__/

# Sphinx
docs/_build/
docs/api/pyflowdiagnostics*

# setuptools_scm
pyflowdiagnostics/version.py

# Build related
.eggs/
build/
dist/
pyflowdiagnostics.egg-info/

# Test related
data/
.coverage
